    <style type="text/css">
        label { width: 300px; display: block; }
    </style>
    <h2><%= @actionName %></h2>
    <% form_for :restaurante, :action => 'change' do |f| %>
    <fieldset>
        <label>Nome</label> <%= f.text_field :nome %>
        <br/>
        <label>Endereço</label> <%= f.text_field :endereco %>
        <br/>
        <label>Especialidade</label> <%= f.text_field :especialidade %>
        <br/>
        <%= submit_tag 'Salvar' %>
    </fieldset>
    <% end %>



